* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: url(geo.jpg) no-repeat center/cover fixed;

}

.container {
    width: 80vw;
    background: #fff;
    position: relative;
    transform: translate(-50%, 50%);
    top: 50%;
    left: 50%;
    border-radius: 8%;
    box-shadow: 0 0.6em 2.5 #a7c957;
    justify-content: center;
    width: max-content;
    height: max-content;
    padding: 40px;
    opacity: 0.8;

}

.container img {
    width: 6.25rem;
    display: block;
    margin: auto;
}

#location-details {
    font-size: 1.75em;
    text-align: center;
    margin: 1em 0 1.7em 0;
    color: #137547;
    font-weight: 700;
}

.container button {
    display: block;
    margin: auto;
    background-color: #137547;
    color: #fff;
    border: none;
    font-size: 1.25em;
    padding: 1em 2.5em;
    border-radius: 0.25em;
    cursor: pointer;
    font-weight: 700;
    font-size: 26px;
}

.showdetails {
    font-size: 22px;
    align-items: center;
    color: #137547;
    justify-content: center;
    padding: 20px;
}

.fulladdress {
    font-size: 22px;
    align-items: center;
    color: #137547;
    justify-content: center;
    padding: 20px;
}

.container button:hover {
    background-color: #a7c957;
    box-shadow: black;
}